.main {
  display: flex;
  flex-direction: column;  
  padding: 24px 50px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

@media screen and (max-width: 960px) {
  .header {    
    padding: 12px 25px;
  }

  .footer {
    padding: 12px 25px;
  }

  .main {
    padding: 24px 25px;
  }
}