.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 50px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
