.container {
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .footer {
  background: #eaeaea;
  display: flex;
  padding: 2rem;

  color: white;
} */
