.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  display: flex;
  padding: 1rem 4rem;
}

.account {
  display: flex;
}
